@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

:root {
  --bg-main: #200015;
  --bg-second: #2b041d;

  --tx-main: #e783b7;
  --tx-second: #701447;

  font-family: "Delius Swash Caps", serif;

  user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --m: 5px;

  margin: var(--m);

  height: calc(100dvh - var(--m) * 2);
  width: calc(100dvw - var(--m) * 2);

  color: var(--tx-main);
  background: radial-gradient(circle, var(--bg-main) 80%, var(--bg-second) 100%);
  overflow: hidden;

  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Borel", serif;
}

body, div, section, main {
  display: flex;
  flex-direction: column;
}
